<ion-view view-title="{{infoChat.title}}" ng-controller="chatsController" ng-init="chatInfo()" cache-view="false">
        <ion-nav-buttons side="right">
                <button class="button" ng-disabled="decrypted" ng-click="savePop()" class="button button-positive">
                    <i class="icon ion-eye"></i>
                </button>
        </ion-nav-buttons>
    <ion-content ng-init="getMessages()">
    <div class="row" ng-if="spinner" style="justify-content: center">
            <ion-spinner icon="ripple"></ion-spinner>
    </div>
    <div ng-repeat="message in chatMessages | orderBy: 'this.data.date_sent'" >
        <div class="card" id="sentMessage" ng-if="message.data.id_sender == uid">  
            <div class="item item-text-wrap" style="background-color: cornflowerblue;">
                    <p id="messageContent">
                        <font size="2">{{message.data.username}}</font><br>
                        <span ng-if="!message.decrypted">{{'chats.encrypted' | translate}}</span>
                        <font size="4" ng-if="message.decrypted"><b>{{message.data.content}}</b></font>
                        <br>
                        <small id="data">{{message.sent}}</small>
                    </p>  
            </div>
        </div>
        <div class="card" id="receivedMessage" ng-if="message.data.id_sender != uid">
            <div class="item item-text-wrap">
                <p>
                    <font size="2">{{message.data.username}}</font><br>
                    <span ng-if="!message.decrypted">{{'chats.encrypted' | translate}}</span>
                    <font ng-if="message.decrypted" size="4"><b>{{message.data.content}}</b></font>
                    <br>
                    <small id="data">{{message.sent}}</small>
                </p>    
            </div>
        </div>
    </div>    
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-light" id="footer">
        <div class="bar bar-footer item-input-inset">
            <label class="item-input-wrapper">
            <input type="text" ng-model="chatMessage">
            </label>
            <button class="button button-small button-clear button-balanced" ng-click="sendToChat()">
                <i class="icon ion-android-send"></i>
            </button>
        </div>   
    </ion-footer-bar>
  </ion-view>
  