<ion-view view-title="{{'chats.new_chat' | translate}}">
    <ion-content ng-controller="chatsController">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">{{'chats.new_title' | translate}}</span>
                <input type="text" ng-model="chatTitle">
            </label>
            <div class="item item-divider" ng-init="getContacts()">
              {{'chats.contacts' | translate}}
            </div>
            <ion-list ng-repeat="contact in contacts | orderBy">
                <ion-checkbox ng-click="addId(contact.id)">{{contact.name}} {{contact.lastname}}</ion-checkbox>
              </ion-list>
            <label class="item item-input item-select">
                <div class="input-label">
                  {{'chats.chatKey' | translate}}
                </div>
                <select ng-model="keyname">
                    <option ng-repeat="key in keys" value="{{key.keyname}}">{{key.keyname}}</option>
                </select>
            </label>  
            <button class="button button-positive" id="newChatButton" ng-click="createChat()">
                    {{'chats.create' | translate}}
            </button>
        </div>
    </ion-content>
  </ion-view>
  