<ion-view view-title="{{'posts.title' | translate}}" cache-view="false">
  <ion-content ng-controller="DashCtrl" ng-init="activeKeys()" >
    <div class="card" ng-init="checkAppKey()">
      <div class="item item-divider">
          {{'posts.new_post_title' | translate}}
      </div>
      <div class="item item-text-wrap">
        <label class="item item-input">
          <input type="text" ng-model="status" placeholder="{{'posts.new_post_placeholder' | translate}}">
        </label>
      </div>
      <div class="item item-divider" id="newPostsFooter">
          <button class="button button-small button-calm" id="newPost" ng-click="newPost()" ng-disabled="!status">{{'posts.new_post_button' | translate}}</button>
          <ion-checkbox value="false" id="public" ng-model="public">{{'posts.public_check' | translate}}</ion-checkbox>
      </div>
    </div>
    <div id="Posted" ng-init="getPosts()">
        <div id="posts">
            <div ng-if="spinner" class="timeline-wrapper">
                <div class="timeline-item">
                    <div class="animated-background">
                        <div class="background-masker header-top"></div>
                        <div class="background-masker header-left"></div>
                        <div class="background-masker header-right"></div>
                        <div class="background-masker header-bottom"></div>
                        <div class="background-masker subheader-left"></div>
                        <div class="background-masker subheader-right"></div>
                        <div class="background-masker subheader-bottom"></div>
                        <div class="background-masker content-top"></div>
                        <div class="background-masker content-first-end"></div>
                        <div class="background-masker content-second-line"></div>
                        <div class="background-masker content-second-end"></div>
                        <div class="background-masker content-third-line"></div>
                        <div class="background-masker content-third-end"></div>
                    </div>
                </div>
            </div>
          <div id="card" class="list card" ng-repeat="post in posts | orderBy: '-this.data.timestamp'" ng-if="(post.data.public == 'false' && post.data.user_id == uid) ||post.data.public == 'true' ">
              <div class="item item-avatar">
                  <img ng-if="post.userPicture" ng-src="{{post.userPicture}}">
                  <img ng-if="!post.userPicture" src="img/default-user-icon-8.jpg">
                  <div class="row">
                    <div class="col col-75">
                      <h2>{{post.name}}</h2>
                      <p>{{post.data.sent}}</p>
                    </div> 
                    <div class="col col-25" >
                        <a class="button icon ion ion-eye button-positive" ng-click="goToPost(post.id)"></a>
                    </div> 
                  </div>  
              </div>
              
              <div class="item item-body">
                <p ng-if="post.data.public == 'true'">
                    {{post.data.content}}
                </p>
                <p ng-if="post.data.public == 'false'">
                    {{'posts.private_post' | translate}}
                </p>
                <p>
                  <div style="display: inline-flex">
                    <div  ng-if="post.reactions == 'liked'">
                      <a class="subdued">{{post.data.likes}} <i class="icon ion-thumbsup" style="color: blue"></i></a>
                      <a class="subdued" ng-click="likeStatus('dislike',post.id)">{{post.data.dislikes}} <i class="icon ion-thumbsdown"></i></a>
                    </div>  
                    <div  ng-if="post.reactions == 'disliked'">
                        <a class="subdued" ng-click="likeStatus('like',post.id)">{{post.data.likes}} <i class="icon ion-thumbsup"></i></a>
                        <a class="subdued">{{post.data.dislikes}} <i class="icon ion-thumbsdown" style="color: red"></i></a>
                    </div>
                    <div  ng-if="post.reactions == null">
                        <a class="subdued" ng-click="likeStatus('like',post.id)">{{post.data.likes}} <i class="icon ion-thumbsup"></i></a>
                        <a class="subdued" ng-click="likeStatus('dislike',post.id)">{{post.data.dislikes}} <i class="icon ion-thumbsdown"></i></a>
                    </div>    
                  </div>  
                </p>
              </div>      
      </div>  
    </div>

  </ion-content>
</ion-view>
