<ion-view view-title="{{'posts.post_link' | translate}}" cache-view="false">
    <ion-content ng-controller="DashCtrl">
        <div id="Posted" >
            <div id="card" class="list card" ng-init="loadPost()">
                <div class="item item-avatar">
                    <img ng-if="post.userPicture" ng-src="{{post.userPicture}}">
                    <img ng-if="!post.userPicture" src="./../img/default-user-icon-8.jpg">
                    <div class="row">
                        <div class="col col-75">
                                <h2>{{post.name}}</h2>
                        </div>
                        <div id="userButtons" class="col col-25" ng-if="post.data.user_id == uid">
                            <a ng-if="post.data.public == 'false'" class="button button-small button-positive" ng-disabled="decrypted" ng-click="askPassphrase(post.data.content)"><i class="ion ion-eye"></i></a>
                            <a class="button button-small button-balanced" ng-if="post.data.public == 'true'"  ng-click="editPop(post.data.content)"><i class="ion ion-edit"></i></a>
                            <a class="button button-small button-assertive" ng-click="deletePost(post.id)"><i class="ion ion-trash-a"></i></a>
                        </div>    
                    </div>    
                </div>
                <div class="item item-body">
                    <p ng-if="post.encrypted == true" style="margin-top: -10px;">
                            {{'posts.private_post' | translate}}
                    </p>
                    <p ng-if="post.encrypted == false" style="margin-top: -10px;">
                            {{post.data.content}}
                    </p>
                    <p ng-if="post.data.public == 'true'" style="margin-top: -10px;">
                            {{post.data.content}}
                    </p>
                    <p>
                        <div style="display: inline-flex">
                          <div  ng-if="post.reactions == 'liked'">
                            <a class="subdued">{{post.data.likes}} <i class="icon ion-thumbsup"></i></a>
                            <a class="subdued" ng-click="likeStatus('dislike',post.id)">{{post.data.dislikes}} <i class="icon ion-thumbsdown"></i></a>
                          </div>  
                          <div  ng-if="post.reactions == 'disliked'">
                              <a class="subdued" ng-click="likeStatus('like',post.id)">{{post.data.likes}} <i class="icon ion-thumbsup"></i></a>
                              <a class="subdued">{{post.data.dislikes}} <i class="icon ion-thumbsdown" ></i></a>
                          </div>
                          <div  ng-if="post.reactions == null">
                              <a class="subdued" ng-click="likeStatus('like',post.id)">{{post.data.likes}} <i class="icon ion-thumbsup"></i></a>
                              <a class="subdued" ng-click="likeStatus('dislike',post.id)">{{post.data.dislikes}}<i class="icon ion-thumbsdown"></i></a>
                          </div>    
                        </div>  
                      </p>
                </div>      
            </div>  
        </div>
        <div class="list">
                <div class="item item-input-inset">
                  <label class="item-input-wrapper">
                        <input type="text" ng-model="newComment" placeholder="{{'posts.comment_placeholder' | translate}}">
                  </label>
                  <button class="button button-small button-balanced" ng-click="sendComment()">
                        <i class="ion-share"></i>
                    </button>
                </div> 
        </div>
        <div ng-init="getComments()">
                <div class="item item-divider">
                    {{'posts.comments_link' | translate}}
                </div>
                <div class="list" >
                    <div class="item item-avatar" id="comentario" ng-repeat="comment in comments">
                        <img ng-if="comment.picture" ng-src="{{comment.picture}}">
                        <img ng-if="!comment.picture" src="../../img/default-user-icon-8.jpg">
                        <div class="row">
                            <div class="col col-75" style="margin-left: -15px;">
                                <h2>{{comment.username}}</h2>
                            </div>
                            <div ng-if="comment.userId == uid" class="col col-25 col-offset-10">
                                <a class="button button-small button-balanced" ng-click="editCommentPop(comment.id,comment.comment)"><i class="ion ion-edit"></i></a>
                                <a class="button button-small button-assertive" ng-click="deleteComment(comment.id)"><i class="ion ion-trash-a"></i></a>
                            </div>    
                        </div>
                        <p>{{comment.comment}}</p>
                    </div>
                </div>
        </div> 
    </ion-content>
</ion-view>
      