<ion-view view-title="{{'publications.title'| translate}}" cache-view="false">
  <ion-content>
    <div class="list">
      <div class="list card" style="margin-bottom:0" ng-init="getUserData()">
        <div class="row" id="profile">
            <div class="col col-center" id="profileInfo">
              <div class="col-8">
                <div class="item item-avatar">
                    <img ng-if="userPicture" id="userImage" ng-src="{{userPicture}}">
                    <img ng-if="!userPicture" id="userImage" src="img/default-user-icon-8.jpg">
                    <h3>{{username}}</h3>
                    <p>{{name}} {{lastname}}</p>
                    <p>{{bio}}</p>
                </div>
              </div>
              <div class="col-4">  
                <div class="col col-center" ng-if="user_id == uid" id="gearButton">
                    <button class="button button-clear button-dark" ng-click="openModal(2)">
                        <i class="icon ion-gear-a"></i>
                      </button>
                </div>  
              </div>  
            </div>
          </div>  
          <div ng-if="user_id == uid" class="item">
              <button class="button button-block button-positive" ng-click="openModal(1)">
                  {{'publications.edit_profile_button' | translate}}
              </button>
          </div>
      </div>
    </div>
    <div ng-init="getFeedbacks()">
        <div ng-if="spinner" class="timeline-wrapper">
            <div class="timeline-item">
                <div class="animated-background">
                    <div class="background-masker header-top"></div>
                    <div class="background-masker header-left"></div>
                    <div class="background-masker header-right"></div>
                    <div class="background-masker header-bottom"></div>
                    <div class="background-masker subheader-left"></div>
                    <div class="background-masker subheader-right"></div>
                    <div class="background-masker subheader-bottom"></div>
                    <div class="background-masker content-top"></div>
                    <div class="background-masker content-first-end"></div>
                    <div class="background-masker content-second-line"></div>
                    <div class="background-masker content-second-end"></div>
                    <div class="background-masker content-third-line"></div>
                    <div class="background-masker content-third-end"></div>
                </div>
            </div>
        </div>
      <div class="list card" ng-repeat="feedback in feedbacks | orderBy: '-this.data.timestamp'">
            <div id="feedback" class="item item-avatar">
              <img ng-if="feedback.picture" ng-src="{{feedback.picture}}">
              <img ng-if="!feedback.picture" src="img/default-user-icon-8.jpg">

              <h3>{{feedback.data.sender}} {{'publications.feed_body' | translate}}</h3>
              <p>{{feedback.date_sent}}</p>
            </div>
            <div class="item item-body">
              <p>
                  {{feedback.data.content}}
              </p>
              <p>
                <div id="cardFooter">
                  <div ng-if="feedback.data.likes >= 1">
                    <p>{{feedback.data.likes}}</p>
                  </div>
                  <a class="button button-clear button-positive" ng-click="likeFeedback(feedback.id)"><i class="icon ion-thumbsup"></i></a>
                </div>
              </p>
            </div>
    </div>
  </ion-content>
  <script id="modifyProfile.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
            <h1 class="title">{{'personalInfo.title' | translate}}</h1>
            <button class="button button-clear button-primary" ng-click="closeModal(1)">{{'personalInfo.cancel' | translate}}</button>
          </ion-header-bar>
          <ion-content class="padding" ng-controller="profileController">
              <div class="list">
                  <div class="item item-avatar">
                    <img ng-if="imgSrc" data-ng-src="{{imgSrc}}">
                    <img ng-if="!imgSrc" src="../img/default-user-icon-8.jpg">
                    <p>{{'personalInfo.change_picture' | translate}}</p>
                    <button class="button button-small button-positive" accept="image/*" ng-click="takePicture()">{{'personalInfo.select' | translate}}</button>
                  </div>
              </div>
              <div class="list" ng-init="requestData()">
                <form ng-submit="updateData()">
                  <label class="item item-input">
                    <span class="input-label">{{'personalInfo.name' | translate}}</span>
                    <input ng-model="name" type="text">
                  </label>
                  <label class="item item-input">
                    <span class="input-label">{{'personalInfo.lastname' | translate}}</span>
                    <input ng-model="lastname" type="text">
                  </label>
                  <label class="item item-input">
                    <span class="input-label">{{'personalInfo.username' | translate}}</span>
                    <input ng-model="username" type="text">
                  </label>
                  <label class="item item-input">
                      <span class="input-label">{{'personalInfo.bio' | translate}}</span>
                      <input ng-model="bio" type="text">
                  </label>
                  <label class="item item-input">
                      <span class="input-label">{{'personalInfo.phone' | translate}}</span>
                      <input ng-model="phone" type="tel">
                  </label>
                  <button class="button button-full button-positive" type="submit">{{'personalInfo.update' | translate}}</button>
                </form>  
              </div>
          </ion-content>    
    </ion-modal-view>
  </script>
  <script id="configMenu.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
            <h1 class="title">{{'configMenu.title' | translate}}</h1>
            <button class="button button-clear button-primary" ng-click="closeModal(2)">{{'configMenu.cancel' | translate}}</button>
          </ion-header-bar>
          <ion-content class="padding" ng-controller="profileController">
            <div class="list">
              <a class="item item-icon-left" ng-click="goToKeys()">
                <i class="icon ion-key"></i>
                {{'configMenu.keys' | translate}}
              </a>  
              <a class="item item-icon-left" ng-click="goToContacts()">
                <i class="icon ion-aperture"></i>
                {{'configMenu.contacts' | translate}}
              </a>   
              <a class="item item-icon-left" ng-click="goToNetworks()">
                <i class="icon ion-network"></i>
                {{'configMenu.networks' | translate}}
              </a>
              <a class="item item-icon-left" ng-click="logout()">
                  <i class="icon ion-log-out"></i>
                  {{'configMenu.logout' | translate}}
                </a>
            </div>
          </ion-content>    
    </ion-modal-view>
  </script>
</ion-view>
