<ion-view view-title="Perfil" cache-view="false">
  <ion-content>
    <div class="list">
      <div class="list card" style="margin-bottom:0" ng-init="getUserData()">
        <div class="row" id="profile">
            <div class="col col-center" id="profileInfo">
              <div class="col-8">
                <div class="item item-avatar">
                    <img ng-if="userPicture" id="userImage" ng-src="{{userPicture}}">
                    <img ng-if="!userPicture" id="userImage" src="../../img/default-user-icon-8.jpg">
                    <h2>{{username}}</h2>
                    <p>{{name}} {{lastname}}</p>
                    <p>{{bio}}</p>
                </div>
              </div>
              <div class="col-4">  
                <div class="col col-center" ng-if="user_id == uid" id="gearButton">
                    <button class="button button-clear button-dark" ng-click="openModal(2)">
                        <i class="icon ion-gear-a"></i>
                      </button>
                </div>  
              </div>  
            </div>
          </div>  
          <div ng-if="user_id == uid" class="item">
              <button class="button button-block button-stable" ng-click="openModal(1)">
                  Editar Perfil
              </button>
          </div>
      </div>
    </div>
    <div class="list" ng-init="getFeedbacks()">
      <div ng-repeat="feedback in feedbacks | orderBy: '-this.data.timestamp'">
        <div class="list card">
            <div class="item item-avatar">
              <img ng-if="feedback.picture" ng-src="{{feedback.picture}}">
              <img ng-if="!feedback.picture" src="../../img/default-user-icon-8.jpg">

              <h2>{{feedback.data.sender}} te ha enviado:</h2>
              <p>{{feedback.data.timestamp}}</p>
            </div>
            <div class="item item-body">
              <p>
                  {{feedback.data.content}}
              </p>
              <p>
                <div id="cardFooter">
                  <div ng-if="feedback.data.likes >= 1">
                    <p>{{feedback.data.likes}} Likes</p>
                  </div>
                  <a class="button button-clear button-positive" ng-click="likeFeedback(feedback.id)"><i class="icon ion-thumbsup"></i> me gusta</a>
                </div>
              </p>
            </div>
          </div>
    </div>
  </ion-content>
  <script id="modifyProfile.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
            <h1 class="title">Modificar perfil</h1>
            <button class="button button-clear button-primary" ng-click="closeModal(1)">Cancelar</button>
          </ion-header-bar>
          <ion-content class="padding" ng-controller="profileController">
              <div class="list">
                  <a class="item item-avatar">
                    <img ng-if="imgSrc" data-ng-src="{{imgSrc}}">
                    <img ng-if="!imgSrc" src="../img/default-user-icon-8.jpg">
                    <p>Cambiar imagen</p>
                    <button class="button button-small button-positive"  accept="image/*" ng-click="takePicture()">Seleccionar</button>
                  </a>
              </div>
              <div class="list" ng-init="requestData()">
                <form ng-submit="updateData()">
                  <label class="item item-input">
                    <span class="input-label">Nombre</span>
                    <input ng-model="name" type="text">
                  </label>
                  <label class="item item-input">
                    <span class="input-label">Apellido</span>
                    <input ng-model="lastname" type="text">
                  </label>
                  <label class="item item-input">
                    <span class="input-label">Usuario</span>
                    <input ng-model="username" type="text">
                  </label>
                  <label class="item item-input">
                      <span class="input-label">Biografía</span>
                      <input ng-model="bio" type="text">
                  </label>
                  <label class="item item-input">
                      <span class="input-label">Teléfono</span>
                      <input ng-model="phone" type="tel">
                  </label>
                  <button class="button button-full button-positive" type="submit">Actualizar</button>
                </form>  
              </div>
          </ion-content>    
    </ion-modal-view>
  </script>
  <script id="configMenu.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
            <h1 class="title">Configuración</h1>
            <button class="button button-clear button-primary" ng-click="closeModal(2)">Cancelar</button>
          </ion-header-bar>
          <ion-content class="padding" ng-controller="profileController">
            <div class="list">
              <a class="item item-icon-left" ng-click="goToKeys()">
                <i class="icon ion-key"></i>
                Llaves
              </a>  
              <a class="item item-icon-left" ng-click="goToContacts()">
                <i class="icon ion-aperture"></i>
                Contactos
              </a>   
              <a class="item item-icon-left" ng-click="goToNetworks()">
                <i class="icon ion-network"></i>
                Redes
              </a>
              <a class="item item-icon-left" ng-click="logout()">
                  <i class="icon ion-log-out"></i>
                  Cerrar sesión
                </a>
            </div>
          </ion-content>    
    </ion-modal-view>
  </script>
</ion-view>
