<ion-view view-title="{{'keys.newKey_title' | translate}}" ng-controller="keysController">
        <ion-nav-buttons side="right">
                <button class="button" ng-click="generateKeys()"  class="button button-positive">
                        {{'keys.generate' | translate}}
                </button>
        </ion-nav-buttons>
        <ion-content>
            <div class="list" ng-init="generarPalabras()">
                <form>
                <label class="item item-input">
                    <span class="input-label">{{'keys.keyname' | translate}}</span>
                    <input type="text" id="keyname" ng-model="$parent.newName" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">{{'keys.username' | translate}}</span>
                    <input type="text" ng-model="$parent.name" id="name" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">{{'keys.email' | translate}}</span>
                    <input type="text" ng-model="$parent.email" id="email" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">{{'keys.pass' | translate}}</span>
                    <input type="text" ng-model="$parent.passphrase" id="passphrase" required>
                </label>
                <div class="item item-divider">
                        {{'keys.keyphrase' | translate}}
                </div>
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <input type="text" id="phrase" ng-model="$parent.phrase" value="{{phrase}}">
                    </label> 
                    <button type="button" class="button button-small" ng-click="copy()">
                        <i class="icon ion-clipboard"></i>
                    </button>
                </div>
                </form>  
            </div>
        </ion-content>    
      </ion-view>
      