<ion-view view-title="{{'networks.title' | translate}}" cache-view="false">
    <ion-content ng-controller="redesController">
            <div id="fb-root"></div>    
            <ul class="list" ng-init="getSocials()">
           <!---  <li ng-if="validFacebook == false" class="item item-toggle">
                {{'networks.facebook' | translate}}
                <label class="toggle toggle-positive">
                    <input type="checkbox" ng-click="toggleFormFb()"> 
                    <div class="track">
                    <div class="handle"></div>
                    </div>
                </label>
             </li>-->
             <div class="row" ng-if="spinner" style="justify-content: center">
                    <ion-spinner icon="ripple"></ion-spinner>
            </div>
             <a  ng-if="validFacebook == true" class="item item-icon-right">
                    <i class="icon ion-checkmark-circled" style="color: blue"></i>
                    {{'networks.facebook' | translate}}
            </a>
             <li class="item" ng-show="fbForm">       
                <button class="button button-positive" ng-click="loginFacebook()">{{'networks.facebook' | translate}}</button>
            </li>
             <li ng-if="validTwitter == false" class="item item-toggle">
                {{'networks.twitter' | translate}}
                <label class="toggle toggle-calm">
                    <input type="checkbox" ng-click="toggleFormTw()">
                    <div class="track">
                    <div class="handle"></div>
                    </div>
                </label>
             </li>
             <a  ng-if="validTwitter == true" class="item item-icon-right">
                    <i class="icon ion-checkmark-circled" style="color: aqua"></i>
                    {{'networks.twitter' | translate}}
            </a>
             <li class="item" ng-if="twitterForm">
                 <form>
                    <label class="item item-input item-stacked-label" ng-init="showTwitterMessage()">
                            <span class="input-label">{{'networks.tw_username' | translate}}</span>
                            <input type="text" ng-model="$parent.twitterUsername">
                    </label>
                    <div class="card">
                            <div class="item item-text-wrap">
                                {{'networks.tw_message' | translate}}
                            </div>
                    </div>
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <input type="text" id="validationMessage" value="{{validationMessage}}">
                        </label> 
                        <button type="button" class="button button-small" ng-click="copy()">
                            <i class="icon ion-clipboard"></i>
                        </button>
                    </div>
                    <div class="row">
                        <button class="button button-positive" id="verifyTwButton" ng-click="getTwitterFeed()">{{'networks.verify' | translate}}</button>
                    </div>
                </form>
             </li>
             <a  ng-if="validGitHub == true" class="item item-icon-right">
                    <i class="icon ion-checkmark-circled"></i>
                    {{'networks.github' | translate}}
            </a>
             <li ng-if="validGitHub == false" class="item item-toggle">
                    {{'networks.github' | translate}}
                    <label class="toggle toggle-dark">
                        <input type="checkbox" ng-click="toggleFormGh()">
                        <div class="track">
                        <div class="handle"></div>
                        </div>
                    </label>
             </li>
             <li class="item" ng-if="githubForm">
                <label class="item item-input item-stacked-label" ng-init="showTwitterMessage()">
                        <span class="input-label">{{'networks.gh_user' | translate}}</span>
                        <input type="text" ng-model="$parent.username">
                </label>
                <label class="item item-input item-stacked-label" ng-init="showTwitterMessage()">
                    <span class="input-label">{{'networks.gh_pass' | translate}}</span>
                    <input type="text" ng-model="$parent.password">
                </label>
                <button class="button button-positive" id="gitButton" ng-click="getToken()">{{'networks.continue' | translate}}</button>
             </li>
            </ul>
    </ion-content>
</ion-view>
      