<ion-view view-title="Llaves" cache-view="false">
    <ion-nav-buttons side="right">
            <button class="button" ng-click="newKey()"class="button button-positive">
                <i class="icon ion-plus-circled"></i>
            </button>
        </ion-nav-buttons>
    <ion-content ng-controller="keysController">
        <div id="keys" class="list" ng-init="checkKeys()">
          <div class="row" ng-if="spinner" style="justify-content: center">
                <ion-spinner icon="ripple"></ion-spinner>
          </div>
          <div ng-if="no_keys">
                <div class="card">
                    <div class="item item-text-wrap">
                        {{'keys.no_keys'| translate}}
                    </div>
                </div>
          </div>    
          <div ng-repeat="key in keys">
            <a id="keyItem" style="justify-items:center " class="item item-icon-left item-button-right">
                <i ng-if="key.default == true && key.activated == true" class="icon ion-star"  style="color: gold"></i>
                <i class="icon ion-star" ng-if="key.default == false && key.activated == true" ng-click="useKeys(key.name)"></i>
                {{key.name}}
                <button ng-if="key.activated == true" class="button button-small button-assertive" ng-click="deleteKeys(key.name)">
                    <i class="icon ion-trash-b"></i>
                  </button>
                  <button ng-if="key.activated == false" class="button button-small button-positive" ng-click="getRecover(key.name)">
                    <i class="icon ion-power"></i>
                  </button>
              </a>
          </div>    
        </div> 
      </ion-content>
  </ion-view>
  