<ion-view>
        <ion-content style="background-color: white">
            <div class="row row-center responsive-sm" ng-controller="CheckEmailController">
                <div class="col col-center">
                    <div id="logoDiv">
                            <img src="./../img/vision.svg" id="logo" alt="Generic placeholder image">
                    </div>
                    <form id="loginForm" ng-submit="sendEmail()">
                        <div class="list">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">{{'recoverPassword.email' | translate}}</span>
                                <input type="text" placeholder="{{'recoverPassword.email_placeholder' | translate}}" ng-model="$parent.email" required>
                            </label>
                        </div>
                        <button  type="submit" class="button button-full button-positive">
                                {{'recoverPassword.button_go' | translate}}
                        </button>
                    </form>
                </div>
            </div>    
        </ion-content>
</ion-view>