<ion-view cache-view="false" view-title="{{'login.welcome' | translate}}">
    <ion-content style="background-color: white">
        <div class="row row-center responsive-sm" ng-controller="LoginController">
            <div class="col col-center">
                <div id="logoDiv">
                        <img src="../../img/vision.svg" id="logo" alt="Generic placeholder image">
                </div>
                <form id="loginForm" ng-submit="sendData()">
                    <div class="list">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">{{'login.email' | translate}}</span>
                            <input type="text" ng-model="$parent.email" required>
                        </label>
                        <label class="item item-input item-stacked-label">
                                <span class="input-label">{{'login.password' | translate}}</span>
                                <input type="password" ng-model="$parent.password" required>
                        </label>
                    </div>
                    <button  type="submit" class="button button-full button-positive">
                            {{'login.login_button' | translate}}
                    </button>
                </form>
                <div class="text-center">
                    <a ui-sref="checkEmail"><h5><small>{{'login.forgot_password' | translate}}</small></h5></a>
                    </div>
                    <div class="text-center">
                    <a ui-sref="signUp"><h5><small>{{'login.register' | translate}}</small></h5></a>
                </div>
            </div>
        </div>    
    </ion-content>
</ion-view>