<ion-view view-title="Leer mensaje">
        <ion-content ng-controller="messagesController">
                <div class="list card" ng-init="getMessage()">
                    <div class="item item-avatar">
                        <h2 ng-if="data.sender">Mensaje de {{data.sender}}</h2>
                        <h2 ng-if="data.r_username">Mensaje enviado a {{data.r_username}}</h2>
                        <p>{{data.sent}}</p>
                    </div>
                    
                    <div class="item item-body">
                        <p>
                        {{data.content}}
                        </p>
                        <p>
                        <a class="subdued" ng-click="passPopUp()">Ver</a>
                        <a class="subdued" ng-click="deleteMessage()">Borrar</a>
                        <a class="subdued" ng-if="data.publish == 'true' && decrypted == true" ng-click="publishMessage()">Publicar</a>
                        </p>
                    </div>    
                </div>
       </ion-content>
   </ion-view>
           