<ion-view view-title="{{'messages.title' | translate}}">
    <ion-nav-buttons side="right">
                <button class="button" ng-click="newMessage()" class="button button-positive">
                    <i class="icon ion-plus-circled"></i>
                </button>
    </ion-nav-buttons>
    <ion-content ng-controller="messagesController" ng-init="getMessages('inbox')" class="has-header">
        <div class="button-bar">
            <a ng-if="tray == 'inbox'" style="color: blue; border-right: 1px solid lightgray" id="inbox" class="button">{{'messages.tab-inbox' | translate}}</a>
            <a ng-if="tray != 'inbox'" id="inbox" style="border-right: 2px solid lightgray" class="button" ng-click="getMessages('inbox')">{{'messages.tab-inbox' | translate}}</a>
            <a ng-if="tray == 'outbox'" style="color: blue" class="button">{{'messages.tab_outbox' | translate}}</a>
            <a ng-if="tray != 'outbox'" class="button" ng-click="getMessages('outbox')">{{'messages.tab_outbox' | translate}}</a>
        </div>
        <div class="row" ng-if="spinner" style="justify-content: center">
                <ion-spinner icon="ripple"></ion-spinner>
          </div>
        <div ng-if="tray == 'inbox'" ng-repeat="correo in correos |  orderBy: '-this.data.timestamp'">
            <div class="list social-list"  ng-if="correo.data.status == 'unread'">
                <a class="item item-text-wrap" ng-click="readMessage(correo.id,correo.data.status,correo.data.content)"  id="unread">
                    <h2>{{'messages.from' | translate}} {{correo.data.sender}}</h2>
                    <p class="animated fadeIn" id="text">{{correo.sent}}</p>
                </a>
            </div>
            <div class="list social-list" ng-if="correo.data.status == 'read'">
                    <a class="item item-text-wrap" ng-click="readMessage(correo.id,correo.data.status,correo.data.content)" id="read">
                        <h2>{{'messages.from' | translate}} {{correo.data.sender}}</h2>
                        <p class="animated fadeIn" id="text">{{correo.sent}}</p>
                    </a>
            </div>
        </div> 
        <div ng-if="tray == 'outbox'">
                <div class="list social-list">
                    <a class="item item-text-wrap" id="read" ng-click="readOwnMessage(correo.id,correo.data.content)" ng-repeat="correo in correos |  orderBy: '-this.data.timestamp'">
                        <h2>{{'messages.to' | translate}} {{correo.data.r_username}}</h2>
                        <p class="animated fadeIn" id="text">{{correo.sent}}</p>
                    </a>
                </div>
        </div>     
    </ion-content>
 </ion-view>
      