<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="{{'tabs.home' | translate}}" icon="ion-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <ion-tab title="{{'tabs.messages' | translate}}" icon-off="ion-android-mail" icon-on="ion-android-mail" ui-sref="tab.messages">
    <ion-nav-view name="tab-messages"></ion-nav-view>
  </ion-tab>


  <ion-tab title="{{'tabs.chats' | translate}}" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" ui-sref="tab.chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>


  <ion-tab title="{{'tabs.surveys' | translate}}" icon="ion-document-text" ui-sref="tab.surveys">
    <ion-nav-view name="tab-survey"></ion-nav-view>
  </ion-tab>

  <ion-tab title="{{'tabs.search' | translate}}" icon-off="ion-search" icon-on="ion-search" ui-sref="tab.search">
      <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>  

  <ion-tab title="{{'tabs.profile' | translate}}" icon-off="ion-person" icon-on="ion-person" ng-click="goToProfile()">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
