<ion-view view-title="{{'suveys.new_survey' | translate}}">
        <ion-content ng-controller="surveysController">
                <div class="list">
                    <label id="title" class="item item-input">
                            <span class="input-label">{{'suveys.new_title' | translate}}</span>
                            <input type="text" ng-model="surveyTitle" required>
                    </label>
                    <label id="question" class="item item-input">
                        <input type="text" placeholder="{{'suveys.question' |translate}}" ng-model="question.title" value="{{question.title}}" required>
                    </label>
                    <label id="newAnswers" class="item item-input" ng-repeat="answer in answers">
                            <input type="text" placeholder="{{'suveys.answer_placeholder' |translate}}" ng-model="answer.content" value="" required>
                    </label>
                    <label class="item item-input item-select">
                            <div class="input-label">
                              {{'suveys.expires_in' | translate}}
                            </div>
                            <select ng-model="expires" required>
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                              <option>6</option>
                              <option>7</option>
                            </select>
                    </label>
                </div>
                <div class="row">
                        <div class="col">
                                <button id="addLenght" class="button button-positive button-small icon ion-plus-circled m-1"  ng-click="addLenght()"></button>
                        </div>
                </div>        
                <div class="row">
                        <button type="button" ng-click="createSurvey()" class="button button-calm">{{'suveys.create' |translate}}</button>
                </div>
        </ion-content>
    </ion-view>
      