<ion-view view-title="{{'suveys.title' | translate}}">
    <ion-content ng-controller="surveysController">
        <div ng-init="getSurvey()">
            <div  class="list card" ng-if="survey.expired == false  && survey.answered == false">
                <div class="item">
                <h2>{{survey.title}}</h2>
                <p>{{'suveys.body' | translate}} {{survey.user}}</p>
                </div> 
                <div class="item item-image" id="formBody" ng-repeat="question in survey.questions">
                    <div class="item item-divider" >
                            {{question.question}}
                    </div>
                    <ion-list ng-repeat="answer in question.answers">
                            <ion-radio id="answers" ng-click="getId(question.questionId,answer)">{{answer.content}}</ion-radio>
                    </ion-list>
                </div>
                <p style="display: flex">
                    <a class="item calm" id="fill" ng-click="fillSurvey()">
                        {{'suveys.finish' | translate}}
                    </a>
                    <a class="item assertive" id="delete" ng-click="deleteSurvey()">
                        {{'suveys.delete' | translate}}
                    </a>
                </p>    
            </div>   
            <div class="card" ng-if="survey.answered == true && survey.expired == false">
                <div class="item item-text-wrap">
                    {{'suveys.answered' | translate}}
                </div>
            </div> 
            <div  class="list card" ng-if="survey.expired == true">
                    <div class="item item-divider" >
                            {{'suveys.expired' | translate}}
                    </div>
                <div class="item">
                    <h2>{{survey.title}}</h2>
                    <p>{{'suveys.body' | translate}} {{survey.user}}</p>
                </div> 
                <div class="item item-image" ng-repeat="question in survey.questions">
                    <div class="item item-divider" >
                            {{question.question}}
                    </div>
                    <ion-list ng-repeat="answer in question.answers">
                            <div class="item" id="answers">{{answer.content}}: {{answer.votes}} {{'suveys.votes'|translate}}</div>
                    </ion-list>
                </div>
            </div> 
        </div>
    </ion-content>
</ion-view>
  