<ion-view view-title="{{'suveys.title' | translate}}" cache-view="false">
        <ion-content ng-controller="surveysController">
            <ul class="list" ng-init="getSurveys()">
              <div ng-repeat="survey in surveys">
                <li class="item item-button-right" id="surveys">
                    {{survey.data.title}}
                    <p>{{'suveys.body' | translate}} {{survey.name}}</p>
                    <button class="button button-balanced" ui-sref="tab.survey({surveyId: survey.id})">
                      <i class="icon ion-arrow-right-a"></i>
                    </button>
                </li>
              </div>  
            </ul>
            <div class="col col-12" id="newSurvey">
                <button id="newSurvey" class="button button-positive icon ion-plus-circled" ui-sref="tab.newSurvey"></button>
            </div>  
          </ion-content>
      </ion-view>
      