<ion-view view-title="{{'suveys.title' | translate}}" cache-view="false">
  <ion-nav-buttons side="right">
      <button class="button" ui-sref="tab.newSurvey" class="button button-positive">
          <i class="icon ion-plus-circled"></i>
      </button>
  </ion-nav-buttons>
  <ion-content ng-controller="surveysController">
      <ion-list ng-init="getSurveys()">
      <ion-item id="chats" ui-sref="tab.survey({surveyId: survey.id})" ng-repeat="survey in surveys">
          {{survey.data.title}}
          <p>{{'suveys.body' | translate}} {{survey.name}}</p>
      </ion-item>  
    </ion-list>  

  </ion-content>
</ion-view>
      