#loginForm{
    background-color: white;

}

#logoDiv{
    display: flex;
    justify-content: center;
}

#logo{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    height: 50%;
}

.item {
    border-top: none;
    border-left: none;
    border-right:none;
}
