#profileInfo{
    display: flex;
   justify-content: center;
}

#cardFooter{
    display: flex;
}

#keys{
    margin-top: 4px;
}

#newKey{
    margin-left: 5px;
}

#friendRequest{
    margin-left: 2px;
    justify-content: center;
    width: 99%;
    border-radius: 7px; 
}